* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-image: url("../public/nighttimepng.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /*Add this property*/
  position: absolute;
  width: 100vw;
  height: 100vh; /* Set the height to the viewport height */
  overflow-y: auto; /* Enable vertical scrolling when needed h*/
}

main {
  width: 100%;
  position: absolute;
  min-height: 90%;
  top: max(20%, 150px);
  height: max-content;
}

a:active {
  color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
  main {
    z-index: -1;
  }
}
